<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milkshake Preferences</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Enter your milkshake preferences</h1>
    <form id="preferences-form" class="preferences-form">
        <label for="flavor">Preferred Flavor:</label><br>
        <input type="text" id="flavor" name="flavor"><br>
        <label for="topping">Preferred Topping:</label><br>
        <input type="text" id="topping" name="topping"><br>
        <label for="size">Preferred Size:</label><br>
        <input type="text" id="size" name="size"><br>
        <input type="submit" value="Submit">
    </form>
    <script src="/static/js/main.js"></script>
</body>
</html>